sourceDir: "{{ .chezmoi.sourceDir }}"

diff:
  pager: "delta"

merge:
  command: "nvim"
  args: ["-d", "{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Source {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]
