* {
  all: unset; //Unsets everything so you can style everything from scratch
}

//Global Styles
.bar0, .bar1 {
  background-color: rgba(0, 0, 0, 0);
  color: #ffd5cd;
  font-family: GoMono Nerd Font;
  font-size: 12px;
}

.bar1 {
}

.bar {
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 2px 4px 2px 1px rgba(0, 0, 0, 0.5);
  margin: 2px 10px 4px 10px;
  border-radius: 5px;
}

// Styles on classes (see eww.yuck for more information)

.sidestuff {
  color: #ffd5cd;
}

.audio {
  color: #ffd5cd;
  padding-right: 10px;
}

.brightness {
  color: #ffd5cd;
  padding-right: 10px;
}

.net {
  color: #ffd5cd;
  padding-right: 10px;
}

.paru {
  color: #98971a;
  padding-right: 10px;
}

.paru-empty {
  color: #98971a;
  padding-right: 0px;
}

.scratchpad {
  color: #ffd5cd;
  padding-right: 10px;
}

.scratchpad-empty {
  color: #ffd5cd;
  padding-right: 0px;
}

.clock {
  color: #ffd5cd;
}

.idle {
  color: #ffd5cd;
  padding-right: 10px;
}

.language {
  color: #ffd5cd;
  padding-right: 10px;
}

.battery {
  color: #ffd5cd;
  padding-right: 10px;
}

.w0, .w01, .w02, .w03, .w04, .w05, .w06, .w07, .w08, .w09, .w011, .w022, .w033, .w044, .w055, .w066, .w077, .w088, .w099 {
  padding: 3px 5px;
  box-shadow: inset 0 -2px transparent;
}

/* Unoccupied */
.w0 {
  color: #a89984;
}

/* Occupied */
.w01, .w02, .w03, .w04, .w05, .w06, .w07, .w08, .w09 {
  color: #fbf1c7;
}

/* Focused */
.w011, .w022, .w033, .w044, .w055, .w066, .w077, .w088, .w099 {
  color: #fbf1c7;
  box-shadow: inset 0 -3px #98971a;
}

.workspace {
  padding: 0 10px;
}

.workspace button:hover {
  box-shadow: inset 0 -3px #ffffff;
}
